
* {
    color: white ;
    box-sizing:border-box;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('AcuíferosFondoCDMX_Gemini.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;

    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    /*Para un texto adaptable a la pantalla*/
    font-size:clamp(16px,1.2vw,20px);
    line-height:1.6;

    margin:0;
}

header{
    text-align:center;
    padding:20px;
    max-width:1200px;
    margin:auto;
}

#Subtitulo{
    font-family:cursive;
    font-size:16px;
    opacity:0.85;
    margin-top:5px;
}

.contenedor{
    background-color:rgba(0,0,0,0.5);
    padding:20px;
    border-left:5px solid rgb(209,155,104);
    border-radius:10px;
    margin:auto;
    max-width:1100px;
    margin-bottom:30px;
    margin-top: 30px;
}

#datos_int{
    margin:auto;
    max-width:1100px;
}

.grid-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    text-align:center;
    background-color:rgba(0,0,0,0.5);
    padding:20px;
    border-radius:20px;
    flex:1 1 25px;
}
    
.esquema-acuifero{
    max-width: 90%;
    height: auto;
    border-radius: 12px;
    /*centrar la imagen*/
    display:block;
    margin:auto;
}
 